<p>invoice works!</p>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
                        <p-toolbar styleClass="mb-4">
                            <ng-template pTemplate="left">
                                <input type="text" id="phonenumber" class="m-2" pInputText [(ngModel)]="formModel.phonenumber" placeholder="Введіть номер телефону" />
                                <input type="text" id="period" class="m-2" pInputText [(ngModel)]="formModel.period" placeholder="Введіть період нарахування" />
                                <!--                            <p-dropdown class="m-2" [options]="filials" [(ngModel)]="formModel.filialid" placeholder="Виберіть філіал" [editable]="true"></p-dropdown>-->
                                <!--                            <p-dropdown class="m-2" [options]="groups" [(ngModel)]="formModel.grupaid" placeholder="Виберіть групу" [editable]="true" ></p-dropdown>-->
                                <!--                            <p-dropdown class="m-2" [options]="officialranks" [(ngModel)]="formModel.officialrankid" placeholder="Виберіть ранг" [editable]="true"></p-dropdown>-->
                                <!--                            <p-calendar [(ngModel)]="formModel.periodbegin" [showIcon]="true" [showButtonBar]="true" class="m-2" dateFormat="dd-mm-yy" dataType="string" [readonlyInput]="true" placeholder="Період з"></p-calendar>-->
                                <!--                            <p-calendar [(ngModel)]="formModel.periodend" [showIcon]="true" [showButtonBar]="true" class="m-2" dateFormat="dd-mm-yy" dataType="string" [readonlyInput]="true" placeholder="Період по"></p-calendar>-->
                                <p-button label="Пошук" (onClick)="onClickSearchButton()"></p-button>
                            </ng-template>
                            <ng-template pTemplate="right">
                                <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
<!--                                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>-->
                            </ng-template>
                        </p-toolbar>

            <p-table #dt [value]="invoices"
                     [columns]="cols"
                     responsiveLayout="scroll"
                     [rows]="10"
                     [globalFilterFields]="['name','country.name','representative.name','status']"
                     [paginator]="false"
                     [rowsPerPageOptions]="[10,20,30]"
                     [showCurrentPageReport]="false"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [(selection)]="selectedProducts"
                     selectionMode="multiple"
                     [rowHover]="true"
                     dataKey="simcardid">
                <ng-template pTemplate="header">
                    <tr>
<!--                        <th style="width: 5rem"></th>-->
                        <th>Номер телефону</th>
                        <th>Назва рахунку</th>
                        <th>Період нарахування</th>
                        <th>Значення 1</th>
                        <th>Значення 2</th>
                        <th>Значення 3</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-invoice>
                    <tr>
<!--                        <td>-->
<!--&lt;!&ndash;                            <button type="button" pButton pRipple icon="pi pi-id-card" (click)="onClickSimCardButton(product)"></button>&ndash;&gt;-->
<!--                        </td>-->
                        <td>{{ invoice.phonenumber }}</td>
                        <td>{{ invoice.invoicename }}</td>
                        <td>{{ invoice.period }}</td>
                        <td>{{ invoice.num1 }}</td>
                        <td>{{ invoice.num2 }}</td>
                        <td>{{ invoice.num3  }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
